<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>View Results</title>
</head>
<body><h1> Results </h1>
<table>
    <tr>
        <th>Score_id</th>
        <th>Student_id</th>
        <th>Quiz_id</th>
        <th>Score</th>
    </tr>
</table>
    <table>
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


