<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>View Results</title>
</head>
<body><h1> Results </h1>
<table border="1">
    <tr>
        <th>Score_id</th>
        <th>Student_id</th>
        <th>Quiz_id</th>
        <th>Score</th>
    </tr>

        {% for item in student_results %}
        <tr>
            <td>{{item.quiz_id}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.date}}</td>
            <td>{{item.score}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


